body {
    font-family: monospace;
    font-size: 10pt;
    display: flex;
    flex-flow: row wrap;
}

div {
    padding: 8px;
    flex: 1 100%;
}

.hide {
    display: none;
}

#output-panel, #input-panel {
    flex: 1 0;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

td[data-step] {
    background-color: silver;
}

td[data-step].active {
    background-color: yellow;
}

dialog {
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    border-color: white;
    background-color: maroon;
    color: white;
}

dialog::backdrop {
    background-color: rgba(0,0,0,.8);
}

dialog a {
    color: white;
}

#slot-config-dialog {
    position: relative;
}

.slot-config-close {
    position: absolute;
    top: 1em;
    right: 1em;
}

#lastMessage {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    background-color: white;
    color: red;

}

#lastMessage > span {
    font-weight: bold;
}

#slot-config-btns td {
    padding: .5em;
}

#slotConfigErrors ul {
    background-color: white;
    color: red;
    font-weight: bold;
}

.auth-form label {
    line-height: 1.8;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-item {
    -webkit-flex: 1 auto;
    flex: 1 auto;
}
