body {
    font-family: monospace;
    font-size: 10pt;
    display: flex;
    flex-flow: row wrap;
}

body > div {
    padding: 16px;
}

div, form {
    flex: 1 100%;
}

.panel {
	border: 2px maroon solid;
    padding: 15px;
	position: relative;
	z-index: 1;
	transition: all 0.5s ease;
}

.hide {
    opacity: 0;
	position: absolute;
	z-index: 0;
}

#output-panel, #input-panel {
    flex: 1 0;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

td[data-step] {
    background-color: silver;
}

td[data-step].active {
    background-color: yellow;
}

dialog {
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    border-color: white;
    background-color: maroon;
    color: white;
}

dialog::backdrop {
    background-color: rgba(0,0,0,.8);
}

dialog a {
    color: white;
}

#slot-config-dialog {
    position: relative;
}

.slot-config-close {
    position: absolute;
    top: 1em;
    right: 1em;
}

#lastMessage {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    background-color: white;
    color: red;
}

#lastMessage > span {
    font-weight: bold;
}

#lastMessage li {
    color: rgba(255,0,0,.5);
}

#lastMessage li + li {
    color: rgba(255,0,0,.3);
}

#okVersionStr {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .5em 1em;
}

/* configure onlykey photo background */
td.ok-photo-cell {
    background: transparent url(onlykey-photo.png) no-repeat 50% 0%;
    background-size: contain;
    padding-top: 65px;
    width: 80px;
    height: 155px;
}

#slot-config-btns td {
    vertical-align: bottom;
}
/* end photo background styles */

#slotConfigErrors ul {
    background-color: white;
    color: red;
    font-weight: bold;
}

.auth-form label {
    line-height: 1.8;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-item {
    -webkit-flex: 1 auto;
    flex: 1 auto;
}

nav > a {
    padding: 4px 4px 2px 4px;
    border-radius: 6px 6px 0 0;
    border-bottom: 0;
	border: 2px solid transparent;
	text-decoration: none;
	font-size: 1.5em;
	color: darkgrey;
}

nav > a.active {
    position: relative;
    z-index: 2;
	border-color: maroon;
    border-bottom: 0;
    background-color: white;
	color: maroon;
}

#main, #main > h1 {
	margin-top: 0;
	padding-top: 0;
}

.form-error {
    color: red;
    margin-top: 1em;
}
