[Desktop Entry]
Version={{version}}
Type=Application
Encoding=UTF-8
Name={{name}}
Comment={{description}}
Exec=/opt/{{name}}/onlykey-launch
Path=/opt/{{name}}
Icon=/opt/{{name}}/icon.png
Terminal=false
Categories=Utility;
StartupWMClass={{name}}
