@font-face {
  font-family: 'AppFont';
  src: url('ShareTechMono-Regular.ttf') format('truetype');
}

body {
    font-family: monospace;
    font-size: 10pt;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,a {
    font-family: AppFont, monospace;
    font-weight: bolder;
    text-decoration: none;
}

h1,.h1 {
    font-size: 200%;
    display: block;
    margin: 1em 0;
}

h2,.h2 {
    font-size: 150%;
    display: block;
    margin: .5em 0;
}

h3,.h3 {
    font-size: 120%;
    display: block;
    margin: .25em 0;
}

body > div {
    padding: 16px;
}

.moveimage {
    position: relative;
    top: 3px;
    width: 13px;
}

dialog .moveimage {
    margin-left: 1em;
}

.panel {
	border: 2px maroon solid;
    padding: 15px;
	position: relative;
	z-index: 1;
	transition: all 0.25s ease;
}

.hide {
    display: none;
}

#output-panel, #input-panel {
    flex: 1 0;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

td[data-step] {
    background-color: silver;
}

td[data-step].active {
    background-color: yellow;
}

dialog {
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    border-color: white;
    background-color: maroon;
    color: white;
    max-width: 80%;
}

dialog::backdrop {
    background-color: rgba(0,0,0,.8);
}

dialog a {
    color: white;
}

dialog.white {
    background-color: white;
    color: black;
}

dialog.white a {
    color: black;
}

.dialog-close {
    position: absolute;
    right: 1em;
}

#slot-config-dialog {
    position: relative;
}

.slot-config-close {
    position: absolute;
    top: 1em;
    right: 1em;
}

#lastMessage {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    background-color: white;
    color: maroon;
}

#lastMessage ul {
    margin-bottom: 0;
}

#lastMessage > span {
    font-weight: bold;
}

#lastMessage li {
    opacity: .7;
}

#lastMessage li + li {
    opacity: .4;
}

#versions {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .5em 1em;
    font-size: 10pt;
    text-align: right;
}

#versions > i {
    display: block;
}

/* configure onlykey photo background */
td.ok-photo-cell {
    background: transparent url(/images/onlykey-photo.png) no-repeat 50% 0%;
    background-size: contain;
    padding-top: 10px;
    width: 210px;
    height: 260px;
}

#slot-config-btns td {
    vertical-align: bottom;
}
/* end photo background styles */

#slotConfigErrors, #initConfigErrors {
    background-color: white;
    color: red;
    font-weight: bold;
}

.auth-form label {
    line-height: 1.8;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-item {
    -webkit-flex: 1 auto;
    flex: 1 45%;
}

.flex-item > p,
.flex-item > form,
.flex-item > div {
    margin-right: 1em;
}

.flex-item + .flex-item > p,
.flex-item + .flex-item > form,
.flex-item + .flex-item > div {
    margin-right: 0;
    margin-left: 1em;
}

.flex-item form + form {
    margin-top: 1.5em;
}

nav {
    margin-top: 1em;
}

nav > a {
    padding: 4px 4px 2px 4px;
    border-radius: 6px 6px 0 0;
    border-bottom: 0;
	border: 2px solid transparent;
	text-decoration: none;
	font-size: 1.5em;
	color: darkgrey;
}

nav > a.active {
    position: relative;
    z-index: 2;
	border-color: maroon;
    border-bottom: 0;
    background-color: white;
	color: maroon;
}

#main {
	margin-top: 0;
	padding-top: 0;
}

.form-error {
    color: red;
    margin-top: 1em;
}

#advanced-panel h2 { margin-top: 0; }

#tools-panel h2 { margin-top: 0; }

.slotLabel {
    font-weight: bold;
}

.empty {
    font-style: italic;
    font-weight: normal;
}

.step-nav > * {
    margin-right: 1em;
}
