@font-face {
  font-family: "HFont";
  src: url("Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "BodyFont";
  src: url("Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TxFont";
  src: url("Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: BodyFont, monospace;
  font-size: 11pt;
  text-decoration: none;
}

button {
  font-family: BodyFont, monospace;
  font-size: 110%;
}

input[type="button"] {
  font-family: BodyFont, monospace;
  font-size: 110%;
}

a,
p {
  font-family: TxFont, monospace;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: HFont, monospace;
  text-decoration: none;
}

h1,
.h1 {
  font-size: 200%;
  display: block;
  margin: 1em 0;
}

h2,
.h2 {
  font-size: 150%;
  display: block;
  margin: 0.5em 0;
}

h3,
.h3 {
  font-size: 120%;
  display: block;
  margin: 0.25em 0;
}

body > div {
  padding: 16px;
}

.moveimage {
  position: relative;
  top: 1px;
  width: 0.875em;
  /* filter values computed on https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(53%) sepia(12%) saturate(4%) hue-rotate(1deg) brightness(99%)
    contrast(93%);
}

h2 > img {
  /* filter values computed on https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(53%) sepia(12%) saturate(4%) hue-rotate(1deg) brightness(99%)
    contrast(93%);
}

.panel {
  border: 2px maroon solid;
  padding: 15px;
  position: relative;
  z-index: 1;
  transition: all 0.25s ease;
}

.hide {
  display: none;
}

#output-panel,
#input-panel {
  flex: 1 0;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

td[data-step] {
  background-color: silver;
}

td[data-step].active {
  background-color: yellow;
}

dialog {
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  border-color: white;
  background-color: maroon;
  color: white;
  max-width: 80%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog a {
  color: white;
}

dialog.white {
  background-color: white;
  color: black;
}

dialog.white a {
  color: black;
}

.dialog-close {
  position: absolute;
  right: 1em;
}

#slot-config-dialog {
  position: relative;
}

.slot-config-close {
  position: absolute;
  top: 1em;
  right: 1em;
}

#slotExamples > div {
  margin-bottom: 2em;
}

#lastMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em 1em;
  background-color: white;
  color: maroon;
}

#lastMessage ul {
  margin-bottom: 0;
}

#lastMessage > span {
  font-weight: bold;
}

#lastMessage li {
  opacity: 0.7;
}

#lastMessage li + li {
  opacity: 0.4;
}

#versions {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em 1em;
  font-size: 10pt;
  text-align: right;
}

#versions > i {
  display: block;
}

/* configure onlykey photo background */
td.ok-photo-cell {
  background: transparent url(/images/onlykey-photo.png) no-repeat 50% 0%;
  background-size: contain;
  padding-top: 10px;
  width: 210px;
  height: 260px;
}

/* configure onlykey go photo background */
td.okgo-photo-cell {
  background: transparent url(/images/placeholder-go-photo.png) no-repeat 50% 0%;
  background-size: contain;
  padding-top: 10px;
  width: 120px;
  height: 180px;
}

#slot-config-btns td {
  vertical-align: bottom;
}
/* end photo background styles */

#slotConfigErrors,
#initConfigErrors {
  background-color: white;
  color: red;
  font-weight: bold;
}

.auth-form label {
  line-height: 1.8;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-item {
  -webkit-flex: 1 auto;
  flex: 1 45%;
}

.flex-item.col-3 {
  flex: 1 32%;
}

.flex-item > p,
.flex-item > form,
.flex-item > div {
  margin-right: 1em;
}

.flex-item + .flex-item > p,
.flex-item + .flex-item > form,
.flex-item + .flex-item > div {
  margin-right: 0;
  margin-left: 1em;
}

.flex-item form + form {
  margin-top: 1.5em;
}

nav {
  margin-top: 1em;
}

nav > a {
  padding: 4px 4px 2px 4px;
  border-radius: 6px 6px 0 0;
  border-bottom: 0;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 1.5em;
  color: darkgrey;
}

nav > a.active {
  position: relative;
  z-index: 2;
  border-color: maroon;
  border-bottom: 0;
  background-color: white;
  color: maroon;
}

#main {
  margin-top: 0;
  padding-top: 0;
}

.form-error {
  color: red;
  margin-top: 1em;
}

#advanced-panel h2 {
  margin-top: 0;
}

#tools-panel h2 {
  margin-top: 0;
}

.slotLabel {
  font-family: HFont, monospace;
  font-weight: bold;
  color: black;
}

.empty {
  font-family: TxFont, monospace;
  font-style: italic;
  font-weight: normal;
  color: darkgray;
}

.step-nav > * {
  margin-right: 1em;
}

.device-specific {
  opacity: 0;
  line-height: 0;
  position: absolute;
}

#main.ok-classic .ok-classic {
  position: relative;
  opacity: 1;
  line-height: normal;
}

#main.ok-go .ok-go {
  position: relative;
  opacity: 1;
  line-height: normal;
}

.center {
  text-align: center;
}

.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  content: "";
  height: 0;
  width: 0;
  top: 20px;
  left: 0;
}
.tooltip:before {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  padding: 0.5em 1em;
  top: 26px;
  left: -5em;
  width: 20em;
  white-space: pre-wrap;
  border-radius: 6px;
}
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0, -10px, 0);
  transition: all 0.15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.config-mode-required:after {
    content: '*';
    position: relative;
    color: red;
    font-size: 2em;
    line-height: 0;
    top: .3em;
    margin-right: .25em;
    font-weight: 100;
}
